.formulario{
    width: 50%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding:0;
    border:2px solid #000;
    
}

.input{
    width:80%;
    
}

.field{
    margin-top:  3%;
}

.boton{
    background-color: aquamarine;
    
}